<li class="contact">
  <div class="contact__body">
    <p class="contact__chatName"><span class="contact__title">Chat: </span>{{chatName}}</p>
    <p class="contact__name"><span class="contact__title">With: </span>{{name}}</p>
    <p class="contact__userName">@{{userName}}</p>
    <div class="contact__tags">
      {{#each tags}}
        <button class="contact__tag">
          #{{this}}
        </button>
      {{/each}}
    </div>
  </div>
  <div class="contact__aside">
    {{> Avatar src=avatar altText="contact-avatar" classes="avatar__contact"}}
    {{#if selected}}
      {{> Button icon="/icons/arrow_icon.png" class="button_contact button_contact__selected" }}
    {{else}}
      {{> Button icon="/icons/arrow_icon.png" class="button_contact" }}
    {{/if}}
  </div>
</li>
