<li class="contact">
  <div class="avatar avatar_empty"><p>{{avatar}}</p></div>
  <div class="contact__body">
    <div class="contact__info">
      <h6 class="contact__name">{{name}}</h6>
      <p class="contact__last-visit">{{time}}</p>
    </div>
    <div class="contact__messages">
      <p class="contact__last-message trim-text">{{message}}</p>
      <p class="contact__unread-counter">{{count}}</p>
    </div>
  </div>
</li>
