<app class="error-page">
  <div class="error-page__main">
    <div class="error-page__picture">
      <div class="error-page__default-img"></div>
    </div>
    <div class="error-page__message">
      <h2 class="error-page__title">{{title}}</h2>
      <p class="error-page__text">{{text}}</p>
      <a class="error-page__back-link" href="{{href}}">{{link}}</a>
    </div>
  </div>
  <span class="error-page__error">{{error-text}}</span>
</app>
