<div class="text-input">
  {{#if label}}
    <label class="input__label {{#if required}}required{{/if}}" for="{{id}}">{{ label }}</label>
  {{/if}}
  <input class="text-input__input" name="{{id}}" id="{{id}}" type={{type}} placeholder="{{placeholder}}"/>
</div>
